<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control"><i class="fa-solid fa-check"></i></button>
    </div>
    &nbsp;
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control"><i class="fa-solid fa-backward"></i> Atras</a>
    </div>
</div>